<?php TPL::output('global/header.tpl.htm'); ?>

<div class="aw-container-wrap">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-12 aw-main-content">
                    <a name="c_contents"></a>
                    <div class="aw-mod clearfix">
                        <div class="mod-head common-head">

                            <h2 id="main_title"><?php _e('更多推荐'); ?></h2>
                        </div>

                        <div class="mod-body aw-feed-list clearfix custom-more-topics-container">
                            <!-- <?php var_dump($this->user_info);?> -->
                            <!-- <?php var_dump($this->topics_list);?> -->
                            <?php if ($this->topics_list) { ?>
                            <?php foreach ($this->topics_list AS $key => $val) { ?>
                            <div class="col-xs-6 custom-more-topic-item">
                                <a class="img aw-border-radius-5" href="topic/<?php echo $val['url_token']; ?>" data-id="<?php echo $val['topic_id']; ?>"><img src="<?php echo get_topic_pic_url('mid', $val['topic_pic'])?>" class="custom-circle-img" alt=""/></a>

                                <span class="pull-right">
                                    <a onclick="AWS.User.follow($(this), 'topic', <?php echo $val['topic_id']; ?>);" class="change-focus-btn <?php if($val['is_focused']) echo 'active';?>">
                                        <?php if($val['is_focused']) {?>
                                        <span><i class="icon icon-unfavor gray"></i>取消关注</span>
                                        <?php } else { ?>
                                        <span><i class="icon icon-plus gray"></i>关注</span>
                                        <?php }?>
                                    </a>
                                </span>

                                <p>
                                    <a class="img aw-border-radius-5" href="topic/<?php echo $val['url_token']; ?>" data-id="<?php echo $val['topic_id']; ?>">
                                    <?php echo $val['topic_title'];?>
                                    <!-- <?php var_dump($val);?> -->
                                    </a>
                                </p>
                                <div class="">
                                    <!-- <?php echo subString_UTF8($val['topic_description'], 0, 100);?> -->
                                    <?php foreach($val['action_list'] AS $akey=>$aval) { ?>
                                        <a>
                                            <?php echo $aval['question_content'];?>
                                            <?php echo date_friendly($aval['add_time']); ?>
                                        </a>
                                        <br/>
                                    <?php } ?>
                                </div>
                            </div>
                            <?php } ?>
                            <?php } ?>
                        </div>

                        <div class="mod-footer">
                            <!-- 加载更多内容 -->
                            <a id="bp_more" class="aw-load-more-content" data-page="0">
                                <span><?php _e('更多'); ?></span>
                            </a>
                            <!-- end 加载更多内容 -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<?php if ($_GET['first_login'] && $this->user_info['is_first_login'] == 1) { ?>
<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/fileupload.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.get(G_BASE_URL + '/account/ajax/welcome_message_template/', function (template) {
            $('#aw-ajax-box').html(template);
            $('body').addClass('modal-open');
            welcome_step('1');
        });
        $(".change-focus-btn").on('click',function (e) {
            console.log(e);
        });
    });


</script>
<?php } ?>

<?php TPL::output('global/footer.tpl.htm'); ?>
