.topic-tag{
    .text{
        background-color: #303045;
        &:hover{
            background-color: #4a4f54;
        }
    }
}

.aw-item{
    &:hover{
        background-color: #eee;
        cursor: pointer;
    }
}

@gray-color: #303045;
.commen-btn,
.btn-success,
.btn-blue {
    color: white;
    background-color: @gray-color;
    &:hover {
        color: white;
        background-color: #4a4f54 !important;
    }
    &:visited,
    &:focus,
    &.active,
    &.active:hover,
    &.active:focus {
        color: white;
        background-color: #4a4f54 !important;
    }
}
.custom-border-btn {
    border: solid 1px @gray-color;
    border-radius: 4px;
}
.aw-load-more-content:hover {
    background: #4a4f54 !important;
    background-color: #4a4f54 !important;
    span {
        background-color: #4a4f54 !important;
    }
}
.aw-mod.side-nav ul li a.active {
    color: white !important;
    background-color: @gray-color !important;
}
.commen-white-btn {
    // background-color: @gray-color;
    color: @gray-color;
    border: solid 1px;
    &:hover {
        background-color: white !important;
    }
}
.aw-top-menu-wrap {
    background-color: #fff;
}
.navbar-collapse {
    background-color: #fff;
}
.aw-search-box input {
    border: solid 2px @gray-color;
}
.aw-top-nav > nav > ul > li > a {
    color: @gray-color;
    &.active {
        border: none;
        border-bottom: 2px solid #155faa;
        background-color: #fff;
    }
    &:hover {
        border-bottom: 2px solid #155faa;
        background: #fff;
        background-color: #fff;
    }
    &:focus {
        background-color: white;
    }
}
.bolder {
    font-weight: bolder;
}
// 页头
// 头像
.custom-circle-img {
    width: 60px;
    border-radius: 50% !important;
}
.commen-circle-img {
    border-radius: 50% !important;
}
.msg-ico {
    width: 32px;
    height: 32px;
    border-radius: 0 !important;
    background: url('img/msg.png') no-repeat;
    background-size: 32px 32px;
}
.private-msg-ico {
    width: 32px;
    height: 32px;
    border-radius: 0 !important;
    background: url('img/private-msg-ico.png') no-repeat;
    background-size: 32px 32px;
}
.comments-ico {
    width: 32px;
    height: 32px;
    border-radius: 0 !important;
    background: url('img/comments-ico.png') no-repeat;
    background-size: 32px 32px;
}
.aw-user-nav {
    height: 42px;
    .aw-user-nav-dropdown {
        display: inline-block;
        overflow: hidden;
        margin: 0 0 0 15px;
    }
}
.aw-user-nav .aw-user-nav-dropdown .badge {
    right: auto;
}
.custom-aw-user-nav {
    &:hover {
        .aw-dropdown {
            display: none;
        }
    }
    .private-msg-a {
        &:hover {
            .aw-dropdown {
                left: -30px;
                display: block;
            }
        }
    }
}
// 搜索框
.custom-search-box {
    float: right;
}
@login-regist-width: 500px; // 登录页面
.aw-register-box .mod-body {
    padding: 0;
}
.aw-login-box,
.aw-register-box {
    width: @login-regist-width;
    .logo {
        height: 125px;
        margin: 0 auto;
        background: url('img/login/yan.png') no-repeat;
    }
    #login_submit,
    #register_submit {
        width: 100%;
        height: 50px;
        background-color: @gray-color;
        line-height: 50px;
        &:hover {
            background-color: #4a4f54;
        }
    }
    .login-guide,
    .register-guide {
        z-index: 1px;
        overflow: hidden;
        margin: 13px 0 !important;
    }
    .mod-body {
        input.form-control {
            height: 50px;
            border-width: 2px;
            border-color: #ddd;
            line-height: 50px;
        }
        .content {
            width: 100%;
            .social-login {
                .wechat-href {
                    width: 35px;
                    height: 30px;
                    margin-left: 30px;
                    background: url('img/login/weichat.png') no-repeat;
                }
                .weibo-href {
                    width: 35px;
                    height: 30px;
                    margin-left: 30px;
                    background: url('img/login/weibo.png') no-repeat;
                }
                .qq-href {
                    width: 35px;
                    height: 30px;
                    margin-left: 30px;
                    background: url('img/login/qq.png') no-repeat;
                }
            }
        }
    }
}
// 注册页面
.aw-register-box {
    width: @login-regist-width;
}
.aw-top-menu-wrap {
    .aw-logo {
        // height: 58px;
    }
}
.publish-help {
    .aw-topic-bar {
        margin: 5px 0;
        padding: 0;
    }
    .form-control {
        width: 205px !important;
    }
    .text,
    .close {
        height: 32px;
        padding: 0 5px;
        background-color: @gray-color;
        line-height: 32px;
        &:hover {
            background-color: #4a4f54;
        }
    }
    .add {
        background-color: @gray-color;
        &:hover {
            background-color: #4a4f54 !important;
        }
    }
}
.aw-publish-title input {
    width: 100%;
}
// 个人中心
.aw-user-detail-box .mod-head img {
    top: 55px;
    width: 75px;
}
.self-info {
    .self-info-name {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 15px;
    }
    .self-info-panel {
        padding-bottom: 0;
        border-radius: 4px;
    }
    .signature {
        margin-top: 20px;
    }
    .self-signature {
        min-height: 35px;
        padding: 0 20px;
        border: solid 1px;
        border-width: 0 0 1px 0;
        border-color: #e6e6e6;
        .text-color-999 {
            margin-top: 10px;
        }
    }
    .aw-user-detail-box .mod-head {
        padding-top: 60px;
    }
    .aw-content-wrap {
        border: none;
        background-color: transparent;
        .aw-main-content,
        .aw-side-bar {
            border: none;
            border-radius: 4px;
            background-color: white;
        }
        .fans-panel {
            margin-left: 80px;
        }
    }
    .clearfix {
        overflow: hidden;
    }
    .fans-info {
        margin-right: 50px;
        span {
            display: block;
            margin-top: 10px;
            font-weight: bolder;
        }
    }
    .visit-count-panel {
        width: 250px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 80px;
    }
    .fans-panel {
        width: 250px;
        .aw-mod {
            padding: 0;
        }
    }
    .aw-nav-tabs {
        min-height: 0;
    }
    .user-tab-panel {
        margin-top: 30px;
        padding: 0;
        border-radius: 4px;
        background-color: white;
        .mod-body {
            border: solid 1px;
            border-width: 1px 0 0 0;
            border-color: #e6e6e6;
            #contents_user_actions {
                margin: 15px 0;
                .aw-item {
                    position: relative;
                    min-height: 100px;
                    p {
                        margin-left: 80px;
                    }
                    .dynamic-header-img {
                        position: absolute;
                        left: 15px;
                    }
                    .handle-box {
                        position: absolute;
                        bottom: 15px;
                        left: 80px;
                        span {
                            margin-right: 10px;
                        }
                    }
                }
            }
            #questions {
                .aw-item {
                    position: relative;
                    min-height: 100px;
                }
            }
        }
    }
    .aw-topic-bar {
        .topic-head-img {
            width: 30px;
            border-radius: 50%;
        }
    }
    .valign-center {
        margin: 8px 10px;
    }
    #actions {
        .aw-item {
            .custom-circle-img {
                display: none;
            }
            p {
                margin: 10px 0 !important;
            }
            span {
                left: 0 !important;
            }
        }
    }
    #questions {
        #contents_user_actions_questions {
            padding-top: 10px;
        }
    }
    #answers {
        #contents_user_actions_answers {
            padding-top: 10px;
        }
    }
    #articles {
        .user-actions {
            padding-top: 10px;
        }
    }
    #fans,
    #admires {
        .mod-body {
            padding-top: 20px;
            .float-left {
                margin-left: 65px;
            }
        }
    }
    #star {
        .mod-body {
            li {
                margin: 15px 0 0;
                padding-bottom: 14px;
                border-bottom: 1px solid #f5f5f5;
            }
        }
        .float-left {
            margin-left: 65px;
        }
    }
}
// 个人设置
.profile-container {
    .custom-side-bar {
        position: static !important;
    }
    .setting-img {
        margin-left: 10px;
    }
    .setting-img-info {
        margin-left: 45px;
    }
}
// 隐私设置
.privacy-container {
    .mod-body {
        dd {
            margin-bottom: 20px;
        }
    }
}
// 主页 - 游客身份
.tourist-index,
.custom-topic-container {
    .aw-item {
        padding-top: 40px;
    }
    .aw-question-content {
        position: relative;
        // overflow: hidden;
        min-height: 50px;
        // h4{
        //     position: absolute;
        //     top: 25px;
        //     a{
        //
        //     }
        // }
        p {
            position: absolute;
            top: -25px;
        }
        div.markitup-box {
            // position: absolute;
            // bottom: 0px;
            // margin-top: 55px;
            z-index: auto;
            max-height: none !important;
            padding-bottom: 30px;
        }
        a.aw-user-name {
            font-size: 16px;
        }
        .custom-comment {
            position: absolute;
            z-index: initial;
            bottom: 0;
        }
        .hot-article-custom-comment {
            z-index: 1;
        }
    }
}
.aw-side-bar {
    padding: 20px 10px;
}
// 右侧热门用户
.sidebar-hot-user-container {
    .col-md-4 {
        padding-left: 0 !important;
        text-align: center;
        font-size: 12px;
    }
    .user-action-info {
        .row {
            margin-left: -10px;
            .col-md-3 {
                width: 22%;
                padding-right: 0 !important;
                padding-left: 0 !important;
                text-align: center;
                font-size: 12px;
                &:last-child {
                    width: 34%;
                }
                .custom-empty-btn {
                    position: absolute;
                    top: 9px;
                    left: -2px;
                }
            }
        }
    }
    .user-item {
        margin-top: 10px;
        padding: 2px 0 2px 10px;
        border-radius: 5px;
        background-color: #eee;
        dd {
            width: 155px;
        }
        .user-action-info {
            margin-bottom: 5px;
            border: solid 1px;
            border-width: 1px 0 0 0;
            border-color: #e6e6e6;
        }
    }
}
// 右侧热门话题
.sidebar-hot-topic-container {
    .mod-body {
        min-height: 100px;
        padding: 5px;
        border-radius: 5px;
        background-color: #2a314b;
        dl {
            margin-top: 12px;
            .text {
                color: #7d8395;
                font-size: 15px;
            }
            a {
                color: white;
                font-size: 12px;
            }
        }
    }
}
.aw-container-wrap {
    .container {
        .row {
            .aw-item {
                img {
                    border-radius: 50%;
                }
            }
        }
    }
}
.focus-topics-list {
    img {
        width: 50px;
    }
    .text-color-999 {
        overflow: hidden;
        height: 40px;
    }
}
.aw-topic-list .aw-item {
    min-height: 135px;
    padding-right: 20px;
}
.aw-dropdown.dropdown-list {
    top: 51px !important;
    right: -45px;
    border-top: 1px solid #ccc;
    border-radius: 4px;
    &:before {
        position: absolute;
        top: -8px;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -8px;
        content: '';
        border-right: 8px solid transparent;
        border-bottom: 8px solid white;
        border-left: 8px solid transparent;
    }
}
.aw-common-list .aw-item {
    z-index: auto;
}
.share-panel {
    position: absolute;
    z-index: 4;
    // bottom: -150px;
    left: 68px;
    display: none;
    width: 180px;
    height: 150px;
    border: solid 1px #e6e6e6;
    border-radius: 5px;
    background-color: #fff;
    .share-item {
        height: 33%;
        padding: 10px 20px;
        &:hover {
            background-color: #f5f5f5;
        }
        .weixin {
            height: 30px;
            background: url('img/weixin.png') no-repeat;
            background-size: 30px;
        }
        .weibo {
            height: 30px;
            background: url('img/weibo.png') no-repeat;
            background-size: 30px;
        }
        .qq {
            height: 30px;
            background: url('img/qq.png') no-repeat;
            background-size: 27px;
        }
        .weixin,
        .weibo,
        .qq {
            display: inline-block;
            width: 130px;
            cursor: pointer;
            span {
                width: 75px;
                color: #8f92a3;
                font-size: 16px;
                line-height: 28px;
            }
        }
        &:nth-last-child(2) {
            border: solid 1px #e6e6e6;
            border-width: 1px 0 1px 0;
        }
    }
}
.share-to-others,
.agree-span {
    cursor: pointer;
}
.custom-invite-item {
    .img-container {
        display: inline-block;
        width: 10%;
        .custom-circle-img {
            width: 40px;
            margin-top: -26px;
        }
    }
    .text-container {
        display: inline-block;
        width: 80%;
    }
}
.msg-ico-panel {
    left: 22px !important;
    .mod-footer {
        text-align: center;
    }
}
.comments-ico-panel {
    left: 70px !important;
    .mod-footer {
        text-align: center;
    }
}
.topic-detail-panel {
    // overflow: hidden;
    width: 1010px;
    // height: 30px;
    margin: 30px auto;
    .aw-user-name img,
    .aw-topic-name img {
        width: 40px !important;
        max-width: none !important;
        height: 40px !important;
    }
    a.a-aw-user-name,
    .content-panel {
        margin-left: 50px;
    }
    h4.h4-question-title {
        a {
            font-size: 18px;
        }
    }
}

.commen-custom-options-panel {
    .hot-article-custom-comment {
        position: static !important;
        margin: 10px 50px !important;
    }
}

// 自定义查看全部弹出框
.custom-article-modal {
    .commen-custom-options-panel;
    .markitup-box {
        padding-bottom: 0 !important;
    }
    .aw-user-img {
        top: -20px !important;
    }
    form .mod-body {
        margin-left: 10px;
    }
    .aw-mod .aw-item {
        padding-left: 25px;
    }
    .article-author-panel {
        .modal-body {
            .aw-item {
                padding-left: 0;
            }
        }
        .favor-btn-panel,
        .message-btn-panel {
            margin-top: 20px;
            button {
                width: 100%;
            }
        }
        .user-desc-panel {
            margin: 10px 0 35px 50px;
        }
        .count-info-panel {
            overflow: hidden;
            height: 65px;
            margin-top: 20px;
            border-radius: 0 0 9px 9px;
            background-color: #F3F3F3;
            .col-xs-4 {
                height: 100%;
                padding: 0;
                cursor: pointer;
                text-align: center;
                .custom-panel {
                    margin-top: 10px;
                }
                &:nth-child(2) {
                    border: solid 1px;
                    border-width: 0 1px 0 1px;
                    border-color: #CCCCCC;
                }
                &:hover {
                    background-color: #CCCCCC;
                }
            }
        }
        .modal-body {
            padding-bottom: 0;
            .aw-item {
                padding-bottom: 0;
            }
        }
    }
}
#login_help,
#publish_help_modal {
    .modal-header {
        color: white;
        border-radius: 5px 5px 0 0;
        background-color: #2B314B;
    }
    .modal-footer {
        padding-top: 0;
        border-width: 0 0 0 0;
    }
}
#publish_help_modal {
    .modal-sm {
        width: 355px !important;
    }
}
.custom-focus-topics-container {
    .aw-item {
        width: 100% !important;
    }
}
.custom-topic-sidebar-container {
    .create-topic-panel {
        .btn-success {
            width: 100%;
        }
    }
    .other-topics-panel {
        overflow: hidden;
        width: 100%;
        margin-top: 20px;
    }
}
// 联系方式
.sidebar-contact-container {
    .panel-heading {
        padding-bottom: 5px;
        color: #1C2C61;
        border-width: 0;
        font-weight: bolder;
    }
    .panel-body {
        padding: 0 15px 15px;
        color: #1C2C61;
        border-color: #ddd;
        background-color: #f5f5f5;
    }
}
// 话题页面
.custon-topic-panel {
    .hot-article-custom-comment {
        position: absolute;
        bottom: -10px;
    }
}
.other-topics-panel {
    .custom-recommend-topic {
        overflow: hidden;
        min-height: 80px;
        margin-top: 5px;
        margin-bottom: 6px;
        img {
            position: absolute;
            width: 50px;
        }
        p {
            font-weight: bolder;
        }
        p,
        div {
            margin-left: 70px;
        }
    }
}
.custom-more-topics-container {
    padding: 5px 0 !important;
}
.custom-more-topic-item {
    overflow: hidden;
    min-height: 125px;
    margin-top: 5px;
    margin-bottom: 6px;
    border: solid 1px #e6e6e6;
    border-width: 0 0 1px 0;
    img {
        position: absolute;
        width: 50px;
    }
    p {
        font-weight: bolder;
    }
    p,
    div {
        margin-left: 70px;
    }
}
// 自定义话题二级页面
.custom-topic-container {
    .commen-custom-options-panel;
    h2.custom-topic-title {
        margin: 0 0 0 75px;
    }
    .aw-topic-list-mod {
        .mod-head {
            position: relative;
            top: -30px;
            // left: 70px;
            .aw-nav-tabs {
                min-height: 33px !important;
                padding-top: 0;
                padding-left: 82px;
            }
        }
        .custon-topic-panel {
            margin-top: -30px;
        }
    }
    .mod-body {
        padding: 0 !important;
        .custom-topic-second {
            .post-question-item {
                padding: 10px 20px;
                &:hover {
                    color: #6173AE;
                    background-color: #FAFAFA;
                    cursor: pointer;
                }
                .question-title {
                    font-weight: bolder;
                    font-size: 15px;
                    padding: 10px 0;
                }
                .question-detail {
                    padding-bottom: 10px;
                }
                .question-answer-container {
                    overflow: hidden;
                    .head-img {
                        width: 65px;
                        float: left;
                    }
                    .answer-title {
                        .name-span {
                            font-weight: bolder;
                            font-size: 15px;
                            margin-right: 20px;
                        }
                    }
                    .answer-content {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
//分页
.pagination{
    li.active{
        a{
            border: solid 1px #26335F;
            color: #999;
            background-color: white;
            &:hover{
                border: solid 1px #26335F;
                color: #999;
                background-color: #eee;
                cursor: pointer;
            }
        }
    }
}

// 自定义话题页面右边栏
.custom-topic-sidebar {
    .focus-users-count-title {
        margin: 10px 0;
    }
    #focus_users {
        margin-top: 10px;
        img {
            width: 30px !important;
            .custom-circle-img;
        }
    }
}
.all-stared-topic {
    margin: 20px;
}

.before-none{
    &:before{
        content: none;
    }
}

// Start Icon
.my-icon ,.icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: -4px;
    // border: solid;
    background: url("img/ico/icon-emp.png") no-repeat;
    line-height: 18px;
}
.share,.icon-share {
    background-position: -174px -440px;
    .before-none;
}
.guanzhu {
    background-position: -351px -530px;
}
.guanzhu-white {
    background-position: -357px -169px;
}
.zan {
    background-position: -132px -448px;
}
.sixin-white {
    background-position: -267px -169px;
}


.icon-agree{
    background-position: -130px -440px;
    .before-none;
}
.icon-comment{
    background-position: -218px -440px;
    .before-none;
}

.icon-favor{
    background-position: -262px -440px;
    .before-none;
}

.icon-report{
    background-position: -217px -532px;
    .before-none;
}

.icon-draft{
    background-position: -353px -484px;
    .before-none;
}
.icon-check{
    background-position: -445px -484px;
    .before-none;
}
.icon-invite{
    background-position: -130px -532px;
    .before-none;
}
// End Icon
