.commen-btn {
  background-color: #303045;
  color: white;
}
.commen-btn:hover {
  background-color: #4A4F54 !important;
  color: white;
}
.commen-btn:visited,
.commen-btn:focus {
  color: white;
}
.commen-white-btn {
  color: #303045;
  border: solid 1px;
}
.commen-white-btn:hover {
  background-color: white !important;
}
.aw-top-menu-wrap {
  background-color: #FFFFFF;
}
.navbar-collapse {
  background-color: #FFFFFF;
}
.aw-search-box input {
  border: solid 2px #303045;
}
.aw-top-nav > nav > ul > li > a {
  color: #303045;
}
.aw-top-nav > nav > ul > li > a.active {
  border: none;
  border-bottom: 2px solid #155faa;
  background-color: #FFFFFF;
}
.aw-top-nav > nav > ul > li > a:hover {
  background: #FFFFFF;
  border-bottom: 2px solid #155faa;
  background-color: #FFFFFF;
}
.aw-top-nav > nav > ul > li > a:focus {
  background-color: white;
}
.bolder {
  font-weight: bolder;
}
.custom-circle-img {
  border-radius: 50% !important;
}
.msg-ico {
  background: url('img/msg.png') no-repeat;
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
  border-radius: 0px !important;
}
.aw-user-nav {
  height: 42px;
}
.aw-user-nav .aw-user-nav-dropdown {
  display: inline-block;
  overflow: hidden;
  margin: 0 0px 0 15px;
}
.custom-search-box {
  float: right;
}
.aw-register-box .mod-body {
  padding: 0;
}
.aw-login-box,
.aw-register-box {
  width: 500px;
}
.aw-login-box .logo,
.aw-register-box .logo {
  background: url('img/login/yan.png') no-repeat;
  margin: 0 auto;
  height: 125px;
}
.aw-login-box #login_submit,
.aw-register-box #login_submit,
.aw-login-box #register_submit,
.aw-register-box #register_submit {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #303045;
}
.aw-login-box #login_submit:hover,
.aw-register-box #login_submit:hover,
.aw-login-box #register_submit:hover,
.aw-register-box #register_submit:hover {
  background-color: #4A4F54;
}
.aw-login-box .login-guide,
.aw-register-box .login-guide,
.aw-login-box .register-guide,
.aw-register-box .register-guide {
  margin: 13px 0 13px 0 !important;
  z-index: 1px;
  overflow: hidden;
}
.aw-login-box .mod-body input.form-control,
.aw-register-box .mod-body input.form-control {
  border-color: #DDDDDD;
  border-width: 2px;
  height: 50px;
  line-height: 50px;
}
.aw-login-box .mod-body .content,
.aw-register-box .mod-body .content {
  width: 100%;
}
.aw-login-box .mod-body .content .social-login .wechat-href,
.aw-register-box .mod-body .content .social-login .wechat-href {
  width: 35px;
  height: 30px;
  background: url('img/login/weichat.png') no-repeat;
  margin-left: 30px;
}
.aw-login-box .mod-body .content .social-login .weibo-href,
.aw-register-box .mod-body .content .social-login .weibo-href {
  width: 35px;
  height: 30px;
  background: url('img/login/weibo.png') no-repeat;
  margin-left: 30px;
}
.aw-login-box .mod-body .content .social-login .qq-href,
.aw-register-box .mod-body .content .social-login .qq-href {
  width: 35px;
  height: 30px;
  background: url('img/login/qq.png') no-repeat;
  margin-left: 30px;
}
.aw-register-box {
  width: 500px;
}
.publish-help .aw-topic-bar {
  padding: 0px;
  margin: 5px 0;
}
.publish-help .form-control {
  width: 205px !important;
}
.publish-help .text,
.publish-help .close {
  background-color: #303045;
  height: 32px;
  line-height: 32px;
  padding: 0px 5px;
}
.publish-help .text:hover,
.publish-help .close:hover {
  background-color: #4A4F54;
}
.publish-help .add {
  background-color: #303045;
}
.publish-help .add:hover {
  background-color: #4A4F54 !important;
}
.aw-publish-title input {
  width: 100%;
}
.aw-user-detail-box .mod-head img {
  top: 55px;
  width: 75px;
}
.self-info .self-info-name {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 15px;
}
.self-info .self-info-panel {
  padding-bottom: 0px;
  border-radius: 4px;
}
.self-info .signature {
  margin-top: 20px;
}
.self-info .self-signature {
  min-height: 35px;
  border: solid 1px;
  border-color: #e6e6e6;
  border-width: 0px 0px 1px 0px;
  padding: 0px 20px;
}
.self-info .self-signature .text-color-999 {
  margin-top: 10px;
}
.self-info .aw-user-detail-box .mod-head {
  padding-top: 60px;
}
.self-info .aw-content-wrap {
  background-color: transparent;
  border: none;
}
.self-info .aw-content-wrap .aw-main-content,
.self-info .aw-content-wrap .aw-side-bar {
  background-color: white;
  border-radius: 4px;
  border: none;
}
.self-info .aw-content-wrap .fans-panel {
  margin-left: 80px;
}
.self-info .clearfix {
  overflow: hidden;
}
.self-info .fans-info {
  margin-right: 50px;
}
.self-info .fans-info span {
  font-weight: bolder;
  margin-top: 10px;
  display: block;
}
.self-info .visit-count-panel {
  margin-left: 80px;
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.self-info .fans-panel {
  width: 250px;
}
.self-info .fans-panel .aw-mod {
  padding: 0px;
}
.self-info .aw-nav-tabs {
  min-height: 0px;
}
.self-info .user-tab-panel {
  margin-top: 30px;
  background-color: white;
  border-radius: 4px;
  padding: 0px;
}
.self-info .user-tab-panel .mod-body {
  border: solid 1px;
  border-width: 1px 0 0 0;
  border-color: #e6e6e6;
}
.self-info .user-tab-panel .mod-body #contents_user_actions {
  margin: 15px 0px;
}
.self-info .user-tab-panel .mod-body #contents_user_actions .aw-item {
  min-height: 100px;
  position: relative;
}
.self-info .user-tab-panel .mod-body #contents_user_actions .aw-item p {
  margin-left: 80px;
}
.self-info .user-tab-panel .mod-body #contents_user_actions .aw-item .dynamic-header-img {
  position: absolute;
  left: 20px;
}
.self-info .user-tab-panel .mod-body #contents_user_actions .aw-item .handle-box {
  position: absolute;
  left: 80px;
  bottom: 15px;
}
.self-info .user-tab-panel .mod-body #contents_user_actions .aw-item .handle-box span {
  margin-right: 10px;
}
.self-info .user-tab-panel .mod-body #questions .aw-item {
  min-height: 100px;
  position: relative;
}
.self-info .aw-topic-bar .topic-head-img {
  border-radius: 50%;
  width: 30px;
}
.self-info .valign-center {
  margin: 8px 10px;
}
