.commen-btn,
.btn-success {
  color: white;
  background-color: #303045;
}
.commen-btn:hover,
.btn-success:hover {
  color: white;
  background-color: #4a4f54 !important;
}
.commen-btn:visited,
.btn-success:visited,
.commen-btn:focus,
.btn-success:focus {
  color: white;
}
.aw-mod.side-nav ul li a.active {
  color: white !important;
  background-color: #303045 !important;
}
.commen-white-btn {
  color: #303045;
  border: solid 1px;
}
.commen-white-btn:hover {
  background-color: white !important;
}
.aw-top-menu-wrap {
  background-color: #fff;
}
.navbar-collapse {
  background-color: #fff;
}
.aw-search-box input {
  border: solid 2px #303045;
}
.aw-top-nav > nav > ul > li > a {
  color: #303045;
}
.aw-top-nav > nav > ul > li > a.active {
  border: none;
  border-bottom: 2px solid #155faa;
  background-color: #fff;
}
.aw-top-nav > nav > ul > li > a:hover {
  border-bottom: 2px solid #155faa;
  background: #fff;
  background-color: #fff;
}
.aw-top-nav > nav > ul > li > a:focus {
  background-color: white;
}
.bolder {
  font-weight: bolder;
}
.custom-circle-img {
  width: 60px;
  border-radius: 50% !important;
}
.commen-circle-img {
  border-radius: 50% !important;
}
.msg-ico {
  width: 32px;
  height: 32px;
  border-radius: 0 !important;
  background: url('img/msg.png') no-repeat;
  background-size: 32px 32px;
}
.aw-user-nav {
  height: 42px;
}
.aw-user-nav .aw-user-nav-dropdown {
  display: inline-block;
  overflow: hidden;
  margin: 0 0 0 15px;
}
.custom-search-box {
  float: right;
}
.aw-register-box .mod-body {
  padding: 0;
}
.aw-login-box,
.aw-register-box {
  width: 500px;
}
.aw-login-box .logo,
.aw-register-box .logo {
  height: 125px;
  margin: 0 auto;
  background: url('img/login/yan.png') no-repeat;
}
.aw-login-box #login_submit,
.aw-register-box #login_submit,
.aw-login-box #register_submit,
.aw-register-box #register_submit {
  width: 100%;
  height: 50px;
  background-color: #303045;
  line-height: 50px;
}
.aw-login-box #login_submit:hover,
.aw-register-box #login_submit:hover,
.aw-login-box #register_submit:hover,
.aw-register-box #register_submit:hover {
  background-color: #4a4f54;
}
.aw-login-box .login-guide,
.aw-register-box .login-guide,
.aw-login-box .register-guide,
.aw-register-box .register-guide {
  z-index: 1px;
  overflow: hidden;
  margin: 13px 0 !important;
}
.aw-login-box .mod-body input.form-control,
.aw-register-box .mod-body input.form-control {
  height: 50px;
  border-width: 2px;
  border-color: #ddd;
  line-height: 50px;
}
.aw-login-box .mod-body .content,
.aw-register-box .mod-body .content {
  width: 100%;
}
.aw-login-box .mod-body .content .social-login .wechat-href,
.aw-register-box .mod-body .content .social-login .wechat-href {
  width: 35px;
  height: 30px;
  margin-left: 30px;
  background: url('img/login/weichat.png') no-repeat;
}
.aw-login-box .mod-body .content .social-login .weibo-href,
.aw-register-box .mod-body .content .social-login .weibo-href {
  width: 35px;
  height: 30px;
  margin-left: 30px;
  background: url('img/login/weibo.png') no-repeat;
}
.aw-login-box .mod-body .content .social-login .qq-href,
.aw-register-box .mod-body .content .social-login .qq-href {
  width: 35px;
  height: 30px;
  margin-left: 30px;
  background: url('img/login/qq.png') no-repeat;
}
.aw-register-box {
  width: 500px;
}
.publish-help .aw-topic-bar {
  margin: 5px 0;
  padding: 0;
}
.publish-help .form-control {
  width: 205px !important;
}
.publish-help .text,
.publish-help .close {
  height: 32px;
  padding: 0 5px;
  background-color: #303045;
  line-height: 32px;
}
.publish-help .text:hover,
.publish-help .close:hover {
  background-color: #4a4f54;
}
.publish-help .add {
  background-color: #303045;
}
.publish-help .add:hover {
  background-color: #4a4f54 !important;
}
.aw-publish-title input {
  width: 100%;
}
.aw-user-detail-box .mod-head img {
  top: 55px;
  width: 75px;
}
.self-info .self-info-name {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 15px;
}
.self-info .self-info-panel {
  padding-bottom: 0;
  border-radius: 4px;
}
.self-info .signature {
  margin-top: 20px;
}
.self-info .self-signature {
  min-height: 35px;
  padding: 0 20px;
  border: solid 1px;
  border-width: 0 0 1px 0;
  border-color: #e6e6e6;
}
.self-info .self-signature .text-color-999 {
  margin-top: 10px;
}
.self-info .aw-user-detail-box .mod-head {
  padding-top: 60px;
}
.self-info .aw-content-wrap {
  border: none;
  background-color: transparent;
}
.self-info .aw-content-wrap .aw-main-content,
.self-info .aw-content-wrap .aw-side-bar {
  border: none;
  border-radius: 4px;
  background-color: white;
}
.self-info .aw-content-wrap .fans-panel {
  margin-left: 80px;
}
.self-info .clearfix {
  overflow: hidden;
}
.self-info .fans-info {
  margin-right: 50px;
}
.self-info .fans-info span {
  display: block;
  margin-top: 10px;
  font-weight: bolder;
}
.self-info .visit-count-panel {
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 80px;
}
.self-info .fans-panel {
  width: 250px;
}
.self-info .fans-panel .aw-mod {
  padding: 0;
}
.self-info .aw-nav-tabs {
  min-height: 0;
}
.self-info .user-tab-panel {
  margin-top: 30px;
  padding: 0;
  border-radius: 4px;
  background-color: white;
}
.self-info .user-tab-panel .mod-body {
  border: solid 1px;
  border-width: 1px 0 0 0;
  border-color: #e6e6e6;
}
.self-info .user-tab-panel .mod-body #contents_user_actions {
  margin: 15px 0;
}
.self-info .user-tab-panel .mod-body #contents_user_actions .aw-item {
  position: relative;
  min-height: 100px;
}
.self-info .user-tab-panel .mod-body #contents_user_actions .aw-item p {
  margin-left: 80px;
}
.self-info .user-tab-panel .mod-body #contents_user_actions .aw-item .dynamic-header-img {
  position: absolute;
  left: 15px;
}
.self-info .user-tab-panel .mod-body #contents_user_actions .aw-item .handle-box {
  position: absolute;
  bottom: 15px;
  left: 80px;
}
.self-info .user-tab-panel .mod-body #contents_user_actions .aw-item .handle-box span {
  margin-right: 10px;
}
.self-info .user-tab-panel .mod-body #questions .aw-item {
  position: relative;
  min-height: 100px;
}
.self-info .aw-topic-bar .topic-head-img {
  width: 30px;
  border-radius: 50%;
}
.self-info .valign-center {
  margin: 8px 10px;
}
.self-info #questions #contents_user_actions_questions {
  padding-top: 10px;
}
.self-info #answers #contents_user_actions_answers {
  padding-top: 10px;
}
.self-info #articles .user-actions {
  padding-top: 10px;
}
.self-info #fans .mod-body,
.self-info #admires .mod-body {
  padding-top: 20px;
}
.self-info #fans .mod-body .float-left,
.self-info #admires .mod-body .float-left {
  margin-left: 65px;
}
.self-info #star .mod-body li {
  margin: 15px 0 0;
  padding-bottom: 14px;
  border-bottom: 1px solid #f5f5f5;
}
.self-info #star .float-left {
  margin-left: 65px;
}
.profile-container .custom-side-bar {
  position: static !important;
}
.profile-container .setting-img {
  margin-left: 10px;
}
.profile-container .setting-img-info {
  margin-left: 45px;
}
.privacy-container .mod-body dd {
  margin-bottom: 20px;
}
.tourist-index .aw-item {
  padding-top: 40px;
}
.tourist-index .aw-question-content {
  position: relative;
  min-height: 50px;
}
.tourist-index .aw-question-content p {
  position: absolute;
  top: -25px;
}
.tourist-index .aw-question-content div.markitup-box {
  max-height: none !important;
  padding-bottom: 30px;
}
.tourist-index .aw-question-content a.aw-user-name {
  font-size: 16px;
}
.tourist-index .aw-question-content .custom-comment {
  position: absolute;
  bottom: 0;
}
.sidebar-hot-user-container .col-md-4 {
  padding-left: 0 !important;
  text-align: center;
  font-size: 12px;
}
.sidebar-hot-user-container .user-action-info .row {
  margin-left: -10px;
}
.sidebar-hot-user-container .user-action-info .row .col-md-3 {
  padding-right: 0 !important;
  padding-left: 0 !important;
  text-align: center;
  font-size: 12px;
}
.sidebar-hot-user-container .user-action-info .row .col-md-3 .custom-empty-btn {
  position: absolute;
  top: 9px;
  left: -2px;
}
.sidebar-hot-user-container .user-item {
  margin-top: 10px;
  padding: 2px 10px;
  border-radius: 5px;
  background-color: #EEEEEE;
}
.sidebar-hot-user-container .user-item dd {
  width: 120px;
}
.sidebar-hot-user-container .user-item .user-action-info {
  margin-bottom: 5px;
  border: solid 1px;
  border-width: 1px 0 0 0;
  border-color: #e6e6e6;
}
.sidebar-hot-topic-container .mod-body {
  min-height: 100px;
  padding: 5px;
  border-radius: 5px;
  background-color: #2A314B;
}
.sidebar-hot-topic-container .mod-body dl {
  margin-top: 12px;
}
.sidebar-hot-topic-container .mod-body dl .text {
  color: #7D8395;
  font-size: 15px;
}
.sidebar-hot-topic-container .mod-body dl a {
  color: white;
  font-size: 12px;
}
.aw-container-wrap .container .row .aw-item img {
  border-radius: 50%;
}
.focus-topics-list img {
  width: 50px;
}
.focus-topics-list .text-color-999 {
  height: 40px;
  overflow: hidden;
}
