.commen-btn {
  background-color: #303045;
  color: white;
}
.commen-btn:hover {
  background-color: #4A4F54 !important;
}
.aw-top-menu-wrap {
  background-color: #FFFFFF;
}
.navbar-collapse {
  background-color: #FFFFFF;
}
.aw-search-box input {
  border: solid 2px #303045;
}
.aw-top-nav > nav > ul > li > a {
  color: #303045;
}
.aw-top-nav > nav > ul > li > a.active {
  border: none;
  border-bottom: 2px solid #155faa;
  background-color: #FFFFFF;
}
.aw-top-nav > nav > ul > li > a:hover {
  background: #FFFFFF;
  border-bottom: 2px solid #155faa;
  background-color: #FFFFFF;
}
.bolder {
  font-weight: bolder;
}
.custom-circle-img {
  border-radius: 50% !important;
}
.msg-ico {
  background: url('img/msg.png') no-repeat;
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
  border-radius: 0px !important;
}
.aw-user-nav {
  height: 42px;
}
.aw-user-nav .aw-user-nav-dropdown {
  display: inline-block;
  overflow: hidden;
  margin: 0 0px 0 15px;
}
.custom-search-box {
  float: right;
}
.aw-register-box .mod-body {
  padding: 0;
}
.aw-login-box,
.aw-register-box {
  width: 500px;
}
.aw-login-box .logo,
.aw-register-box .logo {
  background: url('img/login/yan.png') no-repeat;
  margin: 0 auto;
  height: 125px;
}
.aw-login-box #login_submit,
.aw-register-box #login_submit,
.aw-login-box #register_submit,
.aw-register-box #register_submit {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #303045;
}
.aw-login-box #login_submit:hover,
.aw-register-box #login_submit:hover,
.aw-login-box #register_submit:hover,
.aw-register-box #register_submit:hover {
  background-color: #4A4F54;
}
.aw-login-box .login-guide,
.aw-register-box .login-guide,
.aw-login-box .register-guide,
.aw-register-box .register-guide {
  margin: 13px 0 13px 0 !important;
  z-index: 1px;
  overflow: hidden;
}
.aw-login-box .mod-body input.form-control,
.aw-register-box .mod-body input.form-control {
  border-color: #DDDDDD;
  border-width: 2px;
  height: 50px;
  line-height: 50px;
}
.aw-login-box .mod-body .content,
.aw-register-box .mod-body .content {
  width: 100%;
}
.aw-login-box .mod-body .content .social-login .wechat-href,
.aw-register-box .mod-body .content .social-login .wechat-href {
  width: 35px;
  height: 30px;
  background: url('img/login/weichat.png') no-repeat;
  margin-left: 30px;
}
.aw-login-box .mod-body .content .social-login .weibo-href,
.aw-register-box .mod-body .content .social-login .weibo-href {
  width: 35px;
  height: 30px;
  background: url('img/login/weibo.png') no-repeat;
  margin-left: 30px;
}
.aw-login-box .mod-body .content .social-login .qq-href,
.aw-register-box .mod-body .content .social-login .qq-href {
  width: 35px;
  height: 30px;
  background: url('img/login/qq.png') no-repeat;
  margin-left: 30px;
}
.aw-register-box {
  width: 500px;
}
.publish-help .aw-topic-bar {
  padding: 0px;
  margin: 5px 0;
}
.publish-help .form-control {
  width: 205px !important;
}
.publish-help .text,
.publish-help .close {
  background-color: #303045;
  height: 32px;
  line-height: 32px;
  padding: 0px 5px;
}
.publish-help .text:hover,
.publish-help .close:hover {
  background-color: #4A4F54;
}
.publish-help .add {
  background-color: #303045;
}
.publish-help .add:hover {
  background-color: #4A4F54 !important;
}
