@gray-color: #303045;

.commen-btn{
	background-color: @gray-color;
	color: white;

	&:hover{
		background-color: #4A4F54 !important;
	}
}

.commen-white-btn{
	// background-color: @gray-color;
	color: @gray-color;
	border: solid 1px;

	&:hover{
		background-color: white !important;
	}
}

.aw-top-menu-wrap{
	background-color: #FFFFFF;
}

.navbar-collapse {
	background-color: #FFFFFF;
	
}

.aw-search-box input {
	border: solid 2px @gray-color;
}

.aw-top-nav > nav > ul > li > a {
	color: @gray-color;
	&.active {
		  border: none;
  		border-bottom: 2px solid #155faa;
  		background-color: #FFFFFF;
	}
	&:hover {
	  	background: #FFFFFF;
	  	border-bottom: 2px solid #155faa;
  		background-color: #FFFFFF;
	}
}

.bolder{
	font-weight: bolder;
}

// 页头
// 头像
.custom-circle-img{
	border-radius: 50% !important;
}

.msg-ico{
	background: url('img/msg.png') no-repeat;
	background-size: 32px 32px;
	width: 32px;
	height: 32px;
	border-radius: 0px !important;
}

.aw-user-nav{
	height: 42px;
	.aw-user-nav-dropdown{
		display: inline-block;
		overflow: hidden;
		margin: 0 0px 0 15px;
	}
}

// 搜索框
.custom-search-box{
	float: right;
}

@login-regist-width: 500px;

// 登录页面
.aw-register-box .mod-body{
	padding: 0;
}
.aw-login-box ,.aw-register-box
{
	width: @login-regist-width;
	.logo{
		background: url('img/login/yan.png') no-repeat;
		margin: 0 auto;
		height: 125px;
	}

	#login_submit, #register_submit{
		width: 100%;
		height: 50px;
		line-height: 50px;
		background-color: @gray-color;
		&:hover{
			background-color: #4A4F54;
		}
	}

	.login-guide, .register-guide{
		margin: 13px 0 13px 0 !important;
		z-index: 1px;
		overflow: hidden;
	}
	.mod-body {
		input.form-control{
			border-color: #DDDDDD;
			border-width: 2px;
			height: 50px;
			line-height: 50px;
		}
		.content{
			width: 100%;
			.social-login{
				.wechat-href{
					width: 35px;
  					height: 30px;
					background: url('img/login/weichat.png') no-repeat;
					margin-left: 30px;
				}
				.weibo-href{
					width: 35px;
  					height: 30px;
					background: url('img/login/weibo.png') no-repeat;
					margin-left: 30px;
				}
				.qq-href{
				  	width: 35px;
  					height: 30px;
					background: url('img/login/qq.png') no-repeat;
					margin-left: 30px;
				}
			}
		}
	}
}


// 注册页面
.aw-register-box{
	width: @login-regist-width;
}

.aw-top-menu-wrap{
	.aw-logo {
		// height: 58px;
	}
}

.publish-help{
	.aw-topic-bar{
		padding: 0px;
		margin: 5px 0;
	}

	.form-control{
		width: 205px !important;
	}

	.text, .close{
		background-color: @gray-color;
		height: 32px;
		line-height: 32px;
		padding: 0px 5px;
		&:hover{
			background-color: #4A4F54;
		}
	}

	.add{
		background-color: @gray-color;
		&:hover{
			background-color: #4A4F54 !important;

		}
	}
}

