.aw-top-menu-wrap{
	background-color: #FFFFFF;
}

.navbar-collapse {
	background-color: #FFFFFF;
	
}

.aw-search-box input {
	border: solid 2px #303045;
}

.aw-top-nav > nav > ul > li > a {
	color: #303045;
	&.active {
		  border: none;
  		border-bottom: 2px solid #155faa;
  		background-color: #FFFFFF;
	}
	&:hover {
	  	background: #FFFFFF;
	  	border-bottom: 2px solid #155faa;
  		background-color: #FFFFFF;
	}
}

.bolder{
	font-weight: bolder;
}

// 注册页面
.aw-login-box 
{
	width: 500px;
	.logo{
		background: url('img/login/yan.png') no-repeat;
		margin: 0 auto;
		height: 125px;
	}

	.register-guide{
		margin: 13px 0 13px !important;

	}
	.mod-body {
		input.form-control{
			border-color: #DDDDDD;
			border-width: 2px;
			height: 50px;
			line-height: 50px;
		}
		.content{
			width: 100%;

			#login_submit{
				width: 100%;
				height: 50px;
				line-height: 50px;
				background-color: #303045;
			}

			.social-login{
				.wechat-href{
					width: 35px;
  					height: 30px;
					background: url('img/login/weichat.png') no-repeat;
					margin-left: 30px;
				}
				.weibo-href{
					width: 35px;
  					height: 30px;
					background: url('img/login/weibo.png') no-repeat;
					margin-left: 30px;
				}
				.qq-href{
				  	width: 35px;
  					height: 30px;
					background: url('img/login/qq.png') no-repeat;
					margin-left: 30px;
				}
			}
		}
	}
}
