<?php TPL::output('global/header.tpl.htm'); ?>

<div class="aw-container-wrap tourist-index">
    <!-- <?php TPL::output('block/content_nav_menu.tpl.htm'); ?> -->

    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content">
                    <!-- 新消息通知 -->
                    <!-- <div class="aw-mod aw-notification-box hide" id="index_notification">
                        <div class="mod-head common-head">
                            <h2>
                                <span class="pull-right">
                                    <a href="account/setting/privacy/#notifications" class="text-color-999">
                                        <i class="icon icon-setting"></i>
                                        <?php _e('通知设置'); ?></a>
                                </span>
                                <i class="icon icon-bell"></i><?php _e('新通知'); ?>
                                <em class="badge badge-important" name="notification_unread_num"><?php echo $this->user_info['notification_unread']; ?></em>
                            </h2>
                        </div>
                        <div class="mod-body">
                            <ul id="notification_list"></ul>
                        </div>
                        <div class="mod-footer clearfix">
                            <a href="javascript:;" onclick="AWS.Message.read_notification(false, 0, false);" class="pull-left btn btn-mini btn-gray"><?php _e('我知道了'); ?></a>
                            <a href="notifications/" class="pull-right btn btn-mini btn-success"><?php _e('查看所有'); ?></a>
                        </div>
                    </div> -->
                    <!-- end 新消息通知 -->
                    <!-- tab切换 -->
                    <ul class="nav nav-tabs aw-nav-tabs active hidden-xs">
                        <!-- <li<?php if ($_GET['sort_type'] == 'unresponsive') { ?>
                            class="active"<?php } ?>><a href="<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?>category-<?php echo $this->category_info['id']; ?>__sort_type-unresponsive"><?php _e('等待回复'); ?></a>
                        </li>
                        <li<?php if ($_GET['sort_type'] == 'hot') { ?>
                            class="active"<?php } ?>><a href="<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?>category-<?php echo $this->category_info['id']; ?>__sort_type-hot__day-7" id="sort_control_hot"><?php _e('热门'); ?></a>
                        </li>
                        <li<?php if ($_GET['is_recommend']) { ?>
                            class="active"<?php } ?>><a href="<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?>category-<?php echo $this->category_info['id']; ?>__is_recommend-1"><?php _e('推荐'); ?></a>
                        </li>
                        <li<?php if ((!$_GET['sort_type'] OR $_GET['sort_type'] == 'new') AND !$_GET['is_recommend']) { ?>
                            class="active"<?php } ?>><a href="<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?><?php if ($this->category_info['id']) { ?>category-<?php echo $this->category_info['id']; ?><?php } ?>"><?php _e('最新'); ?></a>
                        </li> -->

                        <h2 class="hidden-xs">
                            <?php if ($this->category_info) { ?>
                            <?php echo $this->category_info['title']; ?>
                        <?php } else if ($this->feature_info) { ?>
                            <?php echo $this->feature_info['title']; ?>
                        <?php } else { ?>
                            <i class="icon icon-list"></i>
                        <?php
                            if($this->user_id>0){
                                _e('最新动态');
                            } else {
                                _e('热门内容');
                            }
                             ?>
                            <?php } ?>

                        </h2>
                    </ul>
                    <!-- end tab切换 -->

                    <?php if ($_GET['sort_type'] == 'hot') { ?>
                    <!-- 自定义tab切换 -->
                    <!-- <div class="aw-tabs">
                        <ul>
                            <li<?php if ($_GET['day'] == 30) { ?>
                                class="active"<?php } ?>><a href="<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?>sort_type-hot__<?php if ($this->category_info['id']) { ?>__category-<?php echo $this->category_info['id']; ?><?php } ?>__day-30" day="30"><?php _e('30天'); ?></a>
                            </li>
                            <li<?php if ($_GET['day'] == 7) { ?>
                                class="active"<?php } ?>><a href="<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?>sort_type-hot__<?php if ($this->category_info['id']) { ?>__category-<?php echo $this->category_info['id']; ?><?php } ?>__day-7" day="7"><?php _e('7天'); ?></a>
                            </li>
                            <li<?php if ($_GET['day'] == 1) { ?>
                                class="active"<?php } ?>><a href="<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?>sort_type-hot__<?php if ($this->category_info['id']) { ?>__category-<?php echo $this->category_info['id']; ?><?php } ?>__day-1" day="1"><?php _e('当天'); ?></a>
                            </li>
                        </ul>
                    </div> -->
                    <!-- end 自定义tab切换 -->
                    <?php } ?>

                    <div class="aw-mod aw-explore-list">
                        <div class="mod-body">
                            <div class="aw-common-list">
                                <?php echo $this->posts_list_bit; ?>
                            </div>
                        </div>
                        <div class="mod-footer">
                            <?php echo $this->pagination; ?>
                        </div>
                    </div>

                </div>

                <!-- 侧边栏 -->
                <div class="col-sm-12 col-md-3 aw-side-bar hidden-xs hidden-sm">
                    <?php if ($this->user_info['group_name'] != "游客") {
                        TPL::output('block/sidebar_menu.tpl.htm');
                    } ?>

                    <?php TPL::output('block/sidebar_feature.tpl.htm'); ?>
                    <?php TPL::output('block/sidebar_hot_users.tpl.htm'); ?>
                    <?php TPL::output('block/sidebar_hot_topics.tpl.htm'); ?>
                </div>
                <!-- end 侧边栏 -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="login_help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">提示信息！</h4>
            </div>
            <div class="modal-body">
                您还没有登录，不能分享哦~
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default commen-btn go-login">去登录</button>
                <!-- <button type="button" class="btn btn-default commen-btn" data-dismiss="modal">去登录</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="favor_login_help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">提示信息！</h4>
            </div>
            <div class="modal-body">
                您还没有登录，不能关注哦~
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default commen-btn go-login">去登录</button>
                <!-- <button type="button" class="btn btn-default commen-btn" data-dismiss="modal">去登录</button> -->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var checkIsLogin = function () {
        <?php if($this->user_id) {?>
        return true;
        <?php } else { ?>
        $("#login_help").modal('show');
        return false;
        <?php } ?>
    }

    var favorCheckIsLogin = function () {
        <?php if($this->user_id) {?>
        return true;
        <?php } else { ?>
        $("#favor_login_help").modal('show');
        return false;
        <?php } ?>
    }

    // 点击其他的地方关闭share框
    $(document).click(function (e) {
        var target = e.target;
        if ($(target).attr('class') != 'share-to-others') {
            $(".share-panel").hide();
        }

    });

    var SubstringDemo = function (s, startPos, endPos) {
        var ss; // 声明变量。
        if (s.length < endPos) {
            return s;
        }

        ss = s.substring(startPos, endPos); // 取子字符串。
        return (ss + "..."); // 返回子字符串。
    }

    $(".go-login").on('click', function () {
        location.href = "?/account/login/";
    });

    $(".share-to-others").on('click', function () {
        if (!checkIsLogin()) {
            return false;
        };
        $(".share-panel").hide();
        $(this).children(".share-panel").toggle();
    });

    $(".agree-span").on('click', function () {
        if (!checkIsLogin()) {
            return false;
        };
        alert("赞");
    });

    $(".custom-empty-btn").on('click', function () {
        if (!checkIsLogin()) {
            return false;
        };
        alert("赞");
    });
    $(".custom-favor-btn").on('click', function () {
        if (!favorCheckIsLogin()) {
            return false;
        };
        alert("赞");
    });
</script>

<?php TPL::output('global/footer.tpl.htm'); ?>
