<?php TPL::output('global/header.tpl.htm'); ?>

<div class="aw-container-wrap tourist-index">
    <!-- <?php TPL::output('block/content_nav_menu.tpl.htm'); ?> -->

    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content">
                    <ul class="nav nav-tabs aw-nav-tabs active hidden-xs">
                        <h2 class="hidden-xs">
                            <?php if ($this->category_info) { ?>
                            <?php echo $this->category_info['title']; ?>
                        <?php } else if ($this->feature_info) { ?>
                            <?php echo $this->feature_info['title']; ?>
                        <?php } else { ?>
                            <i class="icon icon-list"></i>
                        <?php
                            if($this->user_id>0){
                                _e('最新动态');
                            } else {
                                _e('热门内容');
                            }
                             ?>
                            <?php } ?>

                        </h2>
                    </ul>
                    <!-- end tab切换 -->
                    <div class="aw-mod aw-explore-list">
                        <div class="mod-body">
                            <div class="aw-common-list">
                                <?php
                                    if($this->user_id>0){

                                        echo $this->posts_his_list_bit;
                                    } else {
                                        echo $this->posts_list_bit;
                                    }
                                     ?>
                            </div>
                        </div>
                        <div class="mod-footer">
                            <?php
                                if($this->user_id>0){

                                } else {
                                    echo $this->pagination;
                                }
                                 ?>
                        </div>
                    </div>
                </div>

                <!-- 侧边栏 -->
                <div class="col-sm-12 col-md-3 aw-side-bar hidden-xs hidden-sm">
                    <?php if ($this->user_info['group_name'] != "游客") {
                        TPL::output('block/sidebar_menu.tpl.htm');
                    } ?>

                    <?php TPL::output('block/sidebar_feature.tpl.htm'); ?>
                    <?php TPL::output('block/sidebar_hot_users.tpl.htm'); ?>
                    <?php TPL::output('block/sidebar_hot_topics.tpl.htm'); ?>
                </div>
                <!-- end 侧边栏 -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="login_help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">提示信息！</h4>
            </div>
            <div class="modal-body">
                您还没有登录，不能分享哦~
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default commen-btn go-login">去登录</button>
                <!-- <button type="button" class="btn btn-default commen-btn" data-dismiss="modal">去登录</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="favor_login_help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">提示信息！</h4>
            </div>
            <div class="modal-body">
                您还没有登录，不能关注哦~
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default commen-btn go-login">去登录</button>
                <!-- <button type="button" class="btn btn-default commen-btn" data-dismiss="modal">去登录</button> -->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var checkIsLogin = function () {
        <?php if($this->user_id) {?>
        return true;
        <?php } else { ?>
        $("#login_help").modal('show');
        return false;
        <?php } ?>
    }

    var favorCheckIsLogin = function () {
        <?php if($this->user_id) {?>
        return true;
        <?php } else { ?>
        $("#favor_login_help").modal('show');
        return false;
        <?php } ?>
    }

    // 点击其他的地方关闭share框
    $(document).click(function (e) {
        var target = e.target;
        if ($(target).attr('class') != 'share-to-others') {
            $(".share-panel").hide();
        }

    });

    var SubstringDemo = function (s, startPos, endPos) {
        var ss; // 声明变量。
        if (s.length < endPos) {
            return s;
        }

        ss = s.substring(startPos, endPos); // 取子字符串。
        return (ss + "..."); // 返回子字符串。
    }

    $(".go-login").on('click', function () {
        location.href = "?/account/login/";
    });

    $(".share-to-others").on('click', function () {
        if (!checkIsLogin()) {
            return false;
        };
        $(".share-panel").hide();
        $(this).children(".share-panel").toggle();
    });

    $(".agree-span").on('click', function () {
        if (!checkIsLogin()) {
            return false;
        };
        alert("赞");
    });

    $(".custom-empty-btn").on('click', function () {
        if (!checkIsLogin()) {
            return false;
        };
        alert("赞");
    });
    $(".custom-favor-btn").on('click', function (e) {
        if (!favorCheckIsLogin()) {
            return false;
        };
        AWS.User.follow($(this), 'user', $(this).attr('uid'));
    });
</script>

<?php TPL::output('global/footer.tpl.htm'); ?>
